<header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
    <span class="site-title">Joakim Hellman - MVC </span>
    <span class="site-nav">
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
            </ul>
        </nav>
    </span>
</header>
